.home {
    
}

.landing-page {
    position: relative;
    height: 85vh;  
}

#home {
    width: 800px;
    border-radius: 41% 59% 27% 73% / 55% 49% 51% 45% ;
    position: absolute;
    right: 4%;
    top: 4%;
    z-index: 0;
}

.home-content {
    position: absolute;
    left: 17%;
    top: 15%;
    color: #D7F3E6;
    z-index: 1;

    h1 {
       font-size:10vh;
       font-weight: 400;
        letter-spacing: 2px;
    }

    p {
        font-size: 3vh;
        margin-top: -10%;
        letter-spacing: 1px;
    }
}

#res {
    position: absolute;
    color: #122556;
    background-color:  #D7F3E6;
    padding: 15px 20px;
    border-radius: 8px;
    bottom: 34%;
    left: 22%;
    font-size: 2.5vh;
}

#res:hover {
    background-color: rgb(194, 255, 228);
}

.bottom-home {
    position: relative;
    margin-top: 80px;

    .escargot {
        display: flex;
        justify-content: space-evenly;
        text-align: center;

        .escargot-content {
            width: 400px;
            line-height: 27px;
            
            h1 {
                color: #D7F3E6;
                font-size: 5vh;
                margin-bottom: 25px;
            }

            p {
                color: white;
                font-size: 2.2vh;
            }
        }

        #resto {
            border-radius: 50%;
            width: 300px;
            height: 300px;
            object-fit: cover;
        }
    }

    .cuisine {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        margin-top: 110px;

        .cuisine-content {
            width: 400px;
            line-height: 27px;

            h1 {
                color: #D7F3E6;
                font-size: 5vh;
                margin-bottom: 25px;
            }

            p {
                color: white;
                font-size: 2.2vh;
            }
        }

        #cuisine {
            border-radius: 50%;
            width: 300px;
            height: 300px;
            object-fit: cover; 
        }
    }
}

.cuisine-phone {
    display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #home {
        width: 360px;
        left: 3.5%;
        top:58%;
    }

    .home-content{
        top: 0;
        left: 5%;

        h1 {
            font-size: 8vh;
        }
    }

    #res {
        bottom: 49% !important;
        // bottom: 0;
    }

    .cuisine, .escargot {
        display: block !important;
        margin: auto;
    }

    .escargot-content{
        width: fit-content !important;
        padding: 25px;
    }

    .cuisine-phone {
        display: block;
        text-align: center;
        margin-top: 60px;

        .cuisine-content {
            width: fit-content !important;
            padding: 25px;
            line-height: 27px;

            h1 {
                color: #D7F3E6;
                font-size: 5vh;
                margin-bottom: 25px;
            }

            p {
                color: white;
                font-size: 2.2vh;
            }
        }

        #cuisine {
            border-radius: 50%;
            width: 300px;
            height: 300px;
            object-fit: cover; 
        }
    }

    .cuisine {
        display: none !important;
    }
}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1000px) {
    #home {
        width: 600px;
        right: 5%;
        top:25%;
    }

    .home-content{
        top: 10%;
        left: 5%;

        h1 {
            font-size: 8vh;
        }
    }

    #res {
        bottom: 53% !important;
        left: 5%;
        // bottom: 0;
    }

    .cuisine h1, .escargot h1 {
        font-size: 4vh !important;
    }

    .cuisine-content, .escargot-content {
        line-height: 32px !important;
    }
}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {
    #home {
        width: 1000px;
    }

    .home-content {
        left: 16%;
    }

    #cuisine, #resto {
        width: 400px !important;
        height: 400px !important;
    }
}