.resto {
    h1 {
        text-align: center;
        color: #D7F3E6;
        font-size: 6.5vh;
    }
}

.timeline {
    margin: auto;
}

.vertical-timeline {
    margin-top: 80px !important ;
    margin-bottom: 50px !important;
}

// .vertical-timeline-element-subtitle {
//     // font-weight: 400 !important;
// }

.vertical-timeline-element-icon {
    box-shadow: 0 0 0 4px #fff, 0 3px 0 4px rgba(0,0,0,.05) !important;
}