@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Marcellus+SC&display=swap');

body {
    background-color: #122556;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: "Marcellus SC", serif;
}

p, a, span, input, textarea, select, label {
    font-family: "Marcellus", serif;
} 

a {
    text-decoration: none;
}